.container {
  width: 42px;
  height: 24px;

  border: 1.5px solid #0dac82;
  border-radius: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;

  position: relative;

  cursor: pointer;
}

.icon {
  font-size: 14px;
}

.ball {
  width: 16px;
  height: 16px;
  background-color: #0dac82;
  border-radius: 50%;

  position: absolute;
}
