.mainTitle {
  font-size: 80px;
}
.selectTitle {
  margin: 20px 0;
}

.items {
  display: flex;
  gap: 50px;
}

.item {
  border: 5px solid #bbb;
  border-radius: 5px;
  width: 300px;
  height: 400px;

  position: relative;
  background-size: cover !important;
  filter: grayscale(100%);
}

.item:hover {
  background: red;
  filter: none;
}

.item:nth-child(1) {
  background-image: url("/1.jpg");
}
.item:nth-child(2) {
  background-image: url("/2.jpg");
}
.item:nth-child(3) {
  background-image: url("/3.jpg");
}

.title {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}
